.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F09830;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    color: white;
}

.navbar-right {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 5px
}


.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.search-input {
    margin-right: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    border: none;
    color: rgba(9, 104, 141, 0.795);
}

.search-button {
    margin-right: 5px;
}

button {
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: rgba(9, 104, 141, 0.795);
}

::placeholder {
    color: rgba(9, 104, 141, 0.795);
    opacity: 1;
  }

input:focus {
    outline:none
}

body {
    background-image: url('travel_background.jpg');
    background-size: cover
}



.intro h1 {
    font-size: 60px;
    font-style: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 62% 0 75px;
}

.intro p {
    color: white;
    background-color: rgba(0, 0, 0, 0.40);
    font-size: 16px;
    margin: 15px 67% 15px 75px;
}

#results {
    color: white;
    background-color: rgba(0, 0, 0, 0.40);
    font-size: 16px;
    margin: 15px 67% 15px 75px;
}

#results img{
    width: 500px
}